<h1>Managers</h1>
<div id = "contents">
<%= form_for :session, url: login_path do |f| %>  
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit "Login" %>
  </p>
  
<% end %>  
</div>