<section class = "py-5">
  <div class = "container">
  <h1>Add Food</h1>
  
    <div>
      <%= bootstrap_form_for :food, url: add_food_path do |f| %>  
        <p>
          <%= f.text_field :name %>
        </p>
          <%= f.collection_select :FoodClass_id, FoodClass.all, :id, :name%>
          <%= f.select(:tod, options_for_select(times_of_day))%>
        <p>
          <%= f.submit "submit" , :id => "button", :class => "btn btn-primary"%>
        </p>
        
      <% end %>  
    </div>
  </div>
</section>