<section class = "py-5">
  <div class = "container">
  <h1>Write a Review</h1>
    <div>
      <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this review from being saved:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    </div>
      <h2><%= flash[:alert] %></h2>
    <div>
      <%= bootstrap_form_for :review, url: submit_review_path do |f| %> 
          <%= f.text_field :email, label: "Email Address" %>
          <%= f.collection_select :food_id, Food.all, :id, :name, label: "Selected the item you wish to review."%>
          <%= f.select(:like, options_for_select([["like", 1], ['dislike', 0]]), label: "Overall opinion")%>
          <%= f.select(:comment, options_for_select(preselect), label: "Additional comment") %>
          <!-- put dropdown for time of day-->
          <div style = "height: 50px;"></div>
        <p>
          <%= f.submit "submit" , :id => "button", :class => "btn btn-primary"%>
        </p>
        
      <% end %>  
    </div>
  </div>
</section>